VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "ubuntu/trusty64"

  config.vm.network "private_network", ip: "10.0.0.18"

  config.vm.provider "virtualbox" do |vb|
    vb.memory = 2048
  end

  config.vm.synced_folder "salt/srv/", "/srv/"

  config.vm.provision :salt do |salt|
    salt.minion_config = "salt/etc/salt/minion"
    salt.run_highstate = false
    salt.bootstrap_options = "-P -c /tmp"
    salt.verbose = true
    salt.log_level = "info"
    salt.colorize = true
  end
end
