{% set memcached = salt['grains.filter_by']({
    'default': {
        'package':    'memcached',
        'service':    'memcached',
        'config':     '/etc/memcached.conf',
    },
    'Debian': {
    },
},
merge=salt['pillar.get']('memcached:lookup'), base='default') %}
