{% set nginx = salt['grains.filter_by']({
    'default': {
        'server':     'nginx',
        'service':    'nginx',
        'config':     '/etc/nginx/',
    },
    'Debian': {
    },
},
merge=salt['pillar.get']('nginx:lookup'), base='default') %}
